/* [COMPOSANT SOCIAL--LINK] */
/* ---------------------------------------------- */

.social--link{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--mauve);
}

.social--link a{
    position: relative;
    color: var(--blanc);
    font-size: 1.4em;
    transition: all .3s ease;

    &:hover{
        color: var(--grisHover);
    }

    &::before{
        display: block;
        position: absolute;
        content: "";
        top: 0; 
        right: -48px;
        width: 32px;
        height: 32px;
        background-image: url('../../assets/svg/icon-Facebook.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
    }
}