/* [LAYOUT DE LA GRILLE] */
/* ---------------------------------------------- */

header{
    justify-items: center;
    align-items: center;
    background-color: var(--grisFonce);
}

.info--column{
    display: grid;
    grid-template-columns: 100%;
}